.newButton{
    background: pink;
}
.newButton.active{
    background: black;
}
.input-main{
    height: 200px;
}
.divByClass{

}
.fetch{
    width: 500px;
    height: 250px;
    background: #de9a9a;
}
.calculator{
    background: gray;
    width: 300px;
}
#digit {
    width: .5em;
    overflow: hidden;
    font: 32px monospace;
    cursor: pointer;
}
#stripe {
    display: inline-block
}
#stripe.animate{
    transform: translate(-90%);
    transition-property: transform;
    transition-duration: 9s;
    transition-timing-function: linear;
}
.train{
    position: relative;
    cursor: pointer;
    width: 177px;
    height: 160px;
    left:0;
    transition: left 5s cubic-bezier(0, 0, 1, 1);
}
.btnWrapper{
    display: flex;
}